# === Web ===

# Entorno Virtual
.venv/

# Variables de Entorno
.env

# Archivos compilados de Python
*.pyc
*.pyo
__pycache__/
*.pyd

# Django
db.sqlite3
web/staticfiles/
media/

# Archivos Locales
*.log

# === Móvil ===
mobile/*.iml
.gradle
mobile/local.properties
mobile/.idea/
mobile/.idea/caches
mobile/.idea/libraries
mobile/.idea/modules.xml
mobile/.idea/workspace.xml
mobile/.idea/navEditor.xml
mobile/.idea/assetWizardSettings.xml
.DS_Store
mobile/build
mobile/captures
.externalNativeBuild
.cxx
local.properties
