# === Web ===

# Entorno Virtual
.venv/

# Variables de Entorno
.env

# Archivos compilados de Python
*.pyc
*.pyo
__pycache__/
*.pyd

# Django
db.sqlite3
/staticfiles/
media/

# Archivos Locales
*.log

# === Móvil ===
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
