{% extends "bootstrap_base.html" %}
{% load static %}

{% block styles %}

{% block page_styles %}{% endblock %}

{% endblock %}

{% block content %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white mt-4 mx-4 rounded shadow-sm">
        <div class="container-fluid gap-2">
            <!-- Logo y Titulo -->
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="{% static 'img/logo.png' %}" alt="Logo" width="70" height="70" class="me-2">

                <span class="ms-2 fw-bold d-inline-block lh-sm fire-station-title">Cuerpo de Bomberos de la 8va Región</span>
            </a>

            <!-- Botón de Hamburguesa -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Contenido Navegador Colapsable -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto gap-2">

                    <li class="nav-item me-4">
                        <a class="nav-link d-flex align-items-center {% if active_page == 'vehicle_list' %}active{% endif %}"
                            aria-current="page" href="{% url 'vehicle_list' %}">
                            <span
                                class="{% if active_page == 'vehicle_list' %}bg-primary{% else %}bg-secondary{% endif %} rounded-circle p-1 me-2"></span>
                            <span
                                class="border-bottom border-3 {% if active_page == 'vehicle_list' %}border-primary{% else %}border-transparent{% endif %} pb-1">Vehiculos</span>
                        </a>
                    </li>

                    <li class="nav-item me-4">
                        <a class="nav-link d-flex align-items-center {% if active_page == 'maintenance_list' %}active{% endif %}"
                            aria-current="page" href="{% url 'maintenance_list' %}">
                            <span
                                class="{% if active_page == 'maintenance_list' %}bg-primary{% else %}bg-secondary{% endif %} rounded-circle p-1 me-2"></span>
                            <span
                                class="border-bottom border-3 {% if active_page == 'maintenance_list' %}border-primary{% else %}border-transparent{% endif %} pb-1">Mantenciones</span>
                        </a>
                    </li>

                    {% if request.session.sb_user_role == "Administrador" %}
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center {% if active_page == 'backoffice:dashboard' %}active{% endif %}"
                            aria-current="page" href="{% url 'backoffice:dashboard' %}">
                            <span
                                class="{% if active_page == 'backoffice:dashboard' %}bg-primary{% else %}bg-secondary{% endif %} rounded-circle p-1 me-2"></span>
                            <span
                                class="border-bottom border-3 {% if active_page == 'backoffice:dashboard' %}border-primary{% else %}border-transparent{% endif %} pb-1">Administración</span>
                        </a>
                    </li>
                    {% endif %}

                </ul>
                <div class="dropdown mt-3 mt-lg-0">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdownMenuLink"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Rol: Administrador
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Acción 1</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<main class="container-fluid mt-4 px-4">
    {% if messages %}
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        {% for message in messages %}
        <div class="toast align-items-center text-white {% if message.tags == 'success' %}bg-success{% elif message.tags == 'error' %}bg-danger{% else %}bg-info{% endif %} border-0"
            role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    {{ message }}
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% block page_content %}{% endblock %}
</main>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
            return new bootstrap.Toast(toastEl, { delay: 4000 })
        })
        toastList.forEach(toast => toast.show());
    });
</script>
{% block page_scripts %}{% endblock %}
{% endblock %}