{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block styles %}{% endblock %}
</head>

<body>
    <!-- Toast -->
    {% if messages %}
    <div id="messages" class="toast-container">
        {% for message in messages %}
        <div class="toast {{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <header class="main-header">
        <div class="header-top">
            <img src="{% static 'img/logo.png' %}" alt="Logo de la empresa" class="header-logo-img">
            <span class="header-title">Nombre de la Empresa</span>
        </div>
        <nav class="header-nav">
            <ul>
                <li><a href="{% url 'vehicle_list' %}" class="{% if active_page == 'vehicle_list' %}active{% endif %}">Vehículos</a></li>
                <li><a href="{% url 'maintenance_list' %}" class="{% if active_page == 'maintenance_list' %}active{% endif %}">Mantenciones</a></li>
                <li><a href="" class="{% if active_page == 'asd' %}active{% endif %}">asd</a></li>
                <li><a href="{% url 'logout' %}" class="{% if active_page == 'asd' %}active{% endif %}">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>


    {% block content %}{% endblock %}


    {% block scripts %}{% endblock %}

</body>

</html>