<div id="vehicle_modal" class="vehicle_modal">
    <div class="vehicle_modal_content">
        <span id="close_vehicle_modal" class="close_vehicle_modal" onclick="closeModal()">&times;</span>
        <form method="POST" action="{% url 'add_vehicle' %}" class="form-vehicle">
            <h2 class="form-title">Agregar Vehículo</h2>
            <p class="form-message">Completa el formulario para agregar un nuevo vehículo.</p>
            {% csrf_token %}

            <!-- Patente -->
            <label>
                {{ form.license_plate }}
                <span>{{ form.license_plate.label }}</span>
            </label>

            <!-- Cuartel de Bomberos y Estado -->
            <div class="form-flex">
                <label>
                    {{ form.fire_station_id }}
                    <span>{{ form.fire_station_id.label }}</span>
                </label>

                <label>
                    {{ form.vehicle_status_id }}
                    <span>{{ form.vehicle_status_id.label }}</span>
                </label>
            </div>

            <!-- Tipo de Vehículo -->
            <label>
                {{ form.vehicle_type_id }}
                <span>{{ form.vehicle_type_id.label }}</span>
            </label>

            <!-- Marca y Modelo -->
            <div class="form-flex">
                <label>
                    {{ form.brand }}
                    <span>{{ form.brand.label }}</span>
                </label>

                <label>
                    {{ form.model }}
                    <span>{{ form.model.label }}</span>
                </label>
            </div>

            <!-- Año y Kilometraje -->
            <div class="form-flex">
                <label>
                    {{ form.year }}
                    <span>{{ form.year.label }}</span>
                </label>

                <label>
                    {{ form.mileage }}
                    <span>{{ form.mileage.label }}</span>
                </label>
            </div>

            <!-- Fechas opcionales -->
            <div class="form-flex">
                <label>
                    {{ form.mileage_last_updated }}
                    <span>{{ form.mileage_last_updated.label }}</span>
                </label>

                <label>
                    {{ form.registration_date }}
                    <span>{{ form.registration_date.label }}</span>
                </label>
            </div>

            <!-- Tipo de Combustible y Transmisión -->
            <div class="form-flex">
                <label>
                    {{ form.fuel_type_id }}
                    <span>{{ form.fuel_type_id.label }}</span>
                </label>

                <label>
                    {{ form.transmission_type_id }}
                    <span>{{ form.transmission_type_id.label }}</span>
                </label>
            </div>

            <!-- Tipo de Aceite y Refrigerante -->
            <div class="form-flex">
                <label>
                    {{ form.oil_type_id }}
                    <span>{{ form.oil_type_id.label }}</span>
                </label>

                <label>
                    {{ form.coolant_type_id }}
                    <span>{{ form.coolant_type_id.label }}</span>
                </label>
            </div>

            <!-- Motro, Chasis y Aceite -->
            <div class="form-flex">
                <label>
                    {{ form.engine_number }}
                    <span>{{ form.engine_number.label }}</span>
                </label>

                <label>
                    {{ form.vin }}
                    <span>{{ form.vin.label }}</span>
                </label>
            </div>

            <!-- Capacidad de aceite y próxima revisión -->
            <div class="form-flex">
                <label>
                    {{ form.oil_capacity_liters }}
                    <span>{{ form.oil_capacity_liters.label }}</span>
                </label>

                <label>
                    {{ form.next_revision_date }}
                    <span>{{ form.next_revision_date.label }}</span>
                </label>
            </div>

            <button type="submit" class="submit_button">Agregar Vehículo</button>
        </form>
    </div>
</div>